button {
  cursor: pointer;
}

.primary-button {
  background-color: #32322E;
  color: white;
  padding: 1vw;
  min-width: 100%;
  font-weight: bold;
  font-size: 1vw;
  text-transform: uppercase;
}

.secondary-button {
  background-color: white;
  color: #32322E;
  padding: 1vw;
  font-weight: bold;
  font-size: 1vw;
  text-transform: uppercase;
  height: fit-content;
  min-width: 10vw;
  font-weight: bold;
}